body{
    background-image: url(images/Untitled.png);
    }
    p{
        text-align: center;
    }

    img{
        width: 400px;
        height: 300px;
        border: 1px solid gray;
        border-radius: 17px;    
        padding: 10px;
        margin: 10px;
    }
    h1{
        font-family: cursive;
        text-align: center;
        color: white;
    }